@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FEFFF0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.brutal-shadow {
  box-shadow: 5px 5px 0px 0px rgba(190, 191, 180, 1);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(190, 191, 180, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(190, 191, 180, 1);
}

.glass-effect {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.low-highlight {
  background-image: linear-gradient(0, yellow, yellow);
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-position: 0 90%;
}